@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 10px;
}

.text400 {
  font-weight: 400;
}

.text500 {
  font-weight: 500;
}

.hidden {
  display: none;
}

.todoContainer {
  padding: 2%;
  background-color: #fffbff;
  position: relative;
}

/* ================ START OF SEARCH ==================== */

#searchContainer {
  margin: 0 auto;
  @include flex-box;
  padding: 45px 20px;
}

#searchInput {
  width: 96vw;
  padding: 10px 20px 10px 30px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: $primary-bg-color;
  color: #49454f;
  //transition: all 0.3s ease;
  @include transition(all, 0.3s, ease);

  &::placeholder {
    color: #49454f;
    font-style: italic;
  }

  &:focus {
    border: 1px solid #472a72ff;
    //box-shadow: 1px 2px 4px 2px #e6e0ebff;
    @include boxShadow(1px, 2px, 4px, 2px, #e6e0ebff);
  }
}

.searchLabel {
  position: relative;
  display: inline-block;
}

#searchIcon {
  //position: absolute;
  //left: 6px;
  //top: 50%;
  @include setPositionLT(absolute, 6px, 50%);
  transform: translateY(-50%);
  //width: 20px;
  //height: 20px;
  @include baseWAndH(20px, 20px);
  opacity: 0.7;
}
/* ================ START OF SEARCH ==================== */

/* ================ START OF TASK CREATE ==================== */
.todoCreate > h2 {
  font-size: 2rem;
  margin-bottom: 16px;
}
#newCase {
  background-color: $primary-bg-color;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
  border-radius: 16px;
}

#taskDesc,
#taskDate {
  border-radius: 4px;
  border: none;
  outline: 1px solid #49454f;
  //width: $width100;
  //height: 56px;
  @include baseWAndH($width100, 56px);
  padding-left: 2%;
  grid-column-start: 1;
  grid-column-end: 4;
}

#createTodoBtn {
  grid-column-start: 2;
  background-color: $secondary-bg-color;
  color: $white-font-color;
  border: none;
}

#clearTodoCreateInputs {
  background-color: $primary-bg-color;
  border: 1px solid #79747e;
  color: $secondary-font-color;
}

#createTodoBtn,
#clearTodoCreateInputs {
  //width: $width100;
  //height: 40px;
  @include baseWAndH($width100, 40px);
  border-radius: 100px;
  justify-self: end;
  cursor: $pointer-cursor;
}
/* ================ END OF TASK CREATE ==================== */

/* ================ START OF CREATE TASK BTN ==================== */
#createTask {
  //width: 60px;
  //height: 60px;
  @include baseWAndH(60px, 60px);
  border-radius: 16px;
  background-color: #ebdef7;
  //box-shadow: 1px 2px 4px 2px #00000015;
  @include boxShadow(1px, 2px, 4px, 2px, #00000015);
  @include flex-box;
  //position: fixed;
  //right: 10px;
  //bottom: 10px;
  @include setPositionRB(fixed, 10px, 10px);
  //transition: all 0.5s ease;
  @include transition(all, 0.5s, ease);
  cursor: $pointer-cursor;

  &:hover {
    background-color: #ccb8d9;
  }
}

#createTask img {
  //width: 40%;
  //height: 40%;
  @include baseWAndH(40%, 40%);
}
/* ================ END OF CREATE TASK BTN ==================== */

/* ================ START OF TODO-LIST ==================== */
.tasksContainer > h2 {
  font-size: 2rem;
  margin: 16px 0 16px 0;
}

.todoGroup {
  @include flex-box(normal, center);
  overflow: hidden;
  color: #1d192b;
  margin-bottom: 16px;
}

.todoType {
  display: inline-block;
  width: 33vw;
}
.todoGroup input[type="radio"] {
  display: none;
}
.todoGroup label {
  width: $width100;
  display: inline-block;
  cursor: $pointer-cursor;
  padding: 0 15px;
  line-height: 34px;
  border: 1px solid #79747e;
  border-right: none;
  user-select: none;
  text-align: center;
}

.todoGroup .todoType:first-child label {
  border-radius: 16px 0 0 16px;
}
.todoGroup .todoType:last-child label {
  border-radius: 0 16px 16px 0;
  border-right: 1px solid #79747e;
}

.selected::before {
  content: "✓ ";
  color: #1d192b;
}

.todoGroup input[type="radio"]:checked + label {
  background: #e8def8;
}

.todoGroup label:hover {
  color: #666;
}

.todoGroup input[type="radio"]:disabled + label {
  background: #efefef;
  color: #666;
}

.tasksList {
  @include flex-box;
  flex-direction: column;
  gap: 12px;
}

.taskContainer {
  width: $width100;
  background-color: $primary-bg-color;
  border-radius: 16px;
  padding: 0.9rem;
  //display: flex;
  //align-items: center;
  @include flex-box(normal, center);
  gap: 10px;
  position: relative;
}

.taskInfo {
  width: $width100;
  //display: flex;
  @include flex-box(normal, normal);
  gap: 5px;
}

.taskInfo p {
  font-size: 1.6rem;
  width: 70%;
  word-break: break-word;
}

.taskContainer > input {
  //width: 18px;
  //height: 18px;
  @include baseWAndH(18px, 18px);
  margin-left: 10px;
  margin-right: 10px;
  accent-color: #d0bcff;
}

.taskContainer > input:checked {
  accent-color: #b79cff;
}

.taskInfo {
  @include flex-box(normal, normal);
  flex-direction: column;
}

.dynamicInput {
  max-width: 60%;
}

/* ================ END OF TODO-LIST ==================== */

.trashIcon {
  @include baseIcon(20px, 20px);
  cursor: $pointer-cursor;
  position: absolute;
  right: 20px;
}

.editIcon {
  @include baseIcon(20px, 20px);
  cursor: $pointer-cursor;
  position: absolute;
  right: 60px;
}

/* ================ START OF MODAL ==================== */
.overlay {
  //position: fixed;
  //left: 0;
  //top: 0;
  @include setPositionLT(fixed, 0, 0);

  //width: $width100;
  //height: 100%;
  @include baseWAndH($width100, 100%);
  background-color: #0000007f;
  z-index: 1;
}

.editTaskContainer {
  @include flex-box;
  flex-direction: column;

  gap: 10px;
  //position: fixed;
  //left: 50%;
  //bottom: 0;
  @include setPositionLB(fixed, 50%, 0);
  z-index: 2;

  transform: translateX(-50%);
  //width: $width100;
  //height: 35.42vh;
  @include baseWAndH($width100, 35.42vh);
  background-color: $primary-bg-color;
  border-radius: 28px 28px 0 0;
}

#editTaskForm {
  @include flex-box;
  flex-direction: column;

  gap: 14px;
}

.taskInput {
  border-radius: 4px;
  border: none;
  outline: 1px solid #49454f;
  //width: 90vw;
  //height: 46px;
  @include baseWAndH(90vw, 46px);
  padding-left: 2%;
}

#editTodoBtn {
  @include todoBtn;
  background-color: $secondary-bg-color;
}

#deleteTodoBtn {
  @include todoBtn;
  background-color: #e34c33;
}

/* ================ END OF MODAL ==================== */

.hiddenModal {
  display: none;
}
