@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 10px;
}

.text400 {
  font-weight: 400;
}

.text500 {
  font-weight: 500;
}

.hidden {
  display: none;
}

.todoContainer {
  padding: 2%;
  background-color: #fffbff;
  position: relative;
}

/* ================ START OF SEARCH ==================== */
#searchContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 20px;
}

#searchInput {
  width: 96vw;
  padding: 10px 20px 10px 30px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #f7f2fa;
  color: #49454F;
  transition: all 0.3s ease;
}
#searchInput::placeholder {
  color: #49454F;
  font-style: italic;
}
#searchInput:focus {
  border: 1px solid #472a72;
  box-shadow: 1px 2px 4px 2px #e6e0eb;
}

.searchLabel {
  position: relative;
  display: inline-block;
}

#searchIcon {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  opacity: 0.7;
}

/* ================ START OF SEARCH ==================== */
/* ================ START OF TASK CREATE ==================== */
.todoCreate > h2 {
  font-size: 2rem;
  margin-bottom: 16px;
}

#newCase {
  background-color: #f7f2fa;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
  border-radius: 16px;
}

#taskDesc,
#taskDate {
  border-radius: 4px;
  border: none;
  outline: 1px solid #49454f;
  width: 100%;
  height: 56px;
  padding-left: 2%;
  grid-column-start: 1;
  grid-column-end: 4;
}

#createTodoBtn {
  grid-column-start: 2;
  background-color: #6750a4;
  color: #ffffff;
  border: none;
}

#clearTodoCreateInputs {
  background-color: #f7f2fa;
  border: 1px solid #79747e;
  color: #6750a4;
}

#createTodoBtn,
#clearTodoCreateInputs {
  width: 100%;
  height: 40px;
  border-radius: 100px;
  justify-self: end;
  cursor: pointer;
}

/* ================ END OF TASK CREATE ==================== */
/* ================ START OF CREATE TASK BTN ==================== */
#createTask {
  width: 60px;
  height: 60px;
  border-radius: 16px;
  background-color: #ebdef7;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.0823529412);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 10px;
  bottom: 10px;
  transition: all 0.5s ease;
  cursor: pointer;
}
#createTask:hover {
  background-color: #ccb8d9;
}

#createTask img {
  width: 40%;
  height: 40%;
}

/* ================ END OF CREATE TASK BTN ==================== */
/* ================ START OF TODO-LIST ==================== */
.tasksContainer > h2 {
  font-size: 2rem;
  margin: 16px 0 16px 0;
}

.todoGroup {
  display: flex;
  justify-content: normal;
  align-items: center;
  overflow: hidden;
  color: #1d192b;
  margin-bottom: 16px;
}

.todoType {
  display: inline-block;
  width: 33vw;
}

.todoGroup input[type=radio] {
  display: none;
}

.todoGroup label {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  padding: 0 15px;
  line-height: 34px;
  border: 1px solid #79747e;
  border-right: none;
  user-select: none;
  text-align: center;
}

.todoGroup .todoType:first-child label {
  border-radius: 16px 0 0 16px;
}

.todoGroup .todoType:last-child label {
  border-radius: 0 16px 16px 0;
  border-right: 1px solid #79747e;
}

.selected::before {
  content: "✓ ";
  color: #1d192b;
}

.todoGroup input[type=radio]:checked + label {
  background: #e8def8;
}

.todoGroup label:hover {
  color: #666;
}

.todoGroup input[type=radio]:disabled + label {
  background: #efefef;
  color: #666;
}

.tasksList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.taskContainer {
  width: 100%;
  background-color: #f7f2fa;
  border-radius: 16px;
  padding: 0.9rem;
  display: flex;
  justify-content: normal;
  align-items: center;
  gap: 10px;
  position: relative;
}

.taskInfo {
  width: 100%;
  display: flex;
  justify-content: normal;
  align-items: normal;
  gap: 5px;
}

.taskInfo p {
  font-size: 1.6rem;
  width: 70%;
  word-break: break-word;
}

.taskContainer > input {
  width: 18px;
  height: 18px;
  margin-left: 10px;
  margin-right: 10px;
  accent-color: #d0bcff;
}

.taskContainer > input:checked {
  accent-color: #b79cff;
}

.taskInfo {
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-direction: column;
}

.dynamicInput {
  max-width: 60%;
}

/* ================ END OF TODO-LIST ==================== */
.trashIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.editIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 60px;
}

/* ================ START OF MODAL ==================== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4980392157);
  z-index: 1;
}

.editTaskContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 35.42vh;
  background-color: #f7f2fa;
  border-radius: 28px 28px 0 0;
}

#editTaskForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
}

.taskInput {
  border-radius: 4px;
  border: none;
  outline: 1px solid #49454f;
  width: 90vw;
  height: 46px;
  padding-left: 2%;
}

#editTodoBtn {
  width: 50%;
  height: 40px;
  border-radius: 100px;
  justify-self: end;
  cursor: pointer;
  color: #ffffff;
  border: none;
  background-color: #6750a4;
}

#deleteTodoBtn {
  width: 50%;
  height: 40px;
  border-radius: 100px;
  justify-self: end;
  cursor: pointer;
  color: #ffffff;
  border: none;
  background-color: #e34c33;
}

/* ================ END OF MODAL ==================== */
.hiddenModal {
  display: none;
}

/*# sourceMappingURL=style.css.map */
